@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

#landing {
    background-color: #e0d6af;
}

nav {
    height: 95px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width:1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 160px;
    transform: scale(1.5);
    padding: 0 10px;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

