* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
}
.header_contents {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 200px;
    height: 200px;
    align-items: center;
}
